body {
    background-color: #333333;
    font-family: "SF Pixelate", sans-serif;
    cursor: url("images/cursor.png"), auto;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border: none;
    height: 17vh;
}

h1 {
    color: #f5f5f5;
    font-size: 50px;
    text-align: center;
}

.edition {
    color: #ffa500;
    font-size: 24px;
    text-align: center;
    margin-top: -1vh;
}

.prompt {
    color: #f5f5f5;
    font-size: 32px;
    text-align: center;
    margin-top: 5vh;
    height: 3vh;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 1vh;
    height: 60vh;
}

#rock, #paper, #scissors {
    flex: none;
    width: 15vw;
    border-radius: 20px;
}

.choice:hover {
    filter: brightness(50%);
    transform: scale(1.1);
}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color: #ffa500;
    font-size: 32px;
    text-align: center;
}

footer {
    margin: auto;
    background-color: #222222;
    height: 20vh;
}

.title {
    font-size: 32px;
    color:#f5f5f5;
    text-align: center;
    padding-top: 3vh;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
    color: #ffa500;
}